#posts {
    width: 60%;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 100vh;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 12px;
}

.post {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    margin: 3px 0;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.post:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 7px black;
}

.post div {
    display: flex;
    gap: 20px;
}